<div class="flash"><%= flash[:create] %></div>
<div class="flash"><%= flash[:update] %></div>
<div class="header">
	<h2>Book</h2>
</div>

<div class="main_show">
	<div class="show_contents">
		<p><b>Title:</b> <%= @book.title %></p>
		<p><b>Body:</b> <%= @book.body %></p>
	</div>
	<div class="show_move">
		<p>
		<%= link_to "Edit", edit_book_path(@book.id) %>
		|
		<%= link_to "Back", books_path %>
		</p>
	</div>
</div>